<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright © 2014-2026 The Android Password Store Authors. All Rights Reserved.
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.NFC" />
  <!-- Required by Autofill to verify the certificate hashes of packages -->
  <uses-permission
    android:name="android.permission.QUERY_ALL_PACKAGES"
    tools:ignore="QueryAllPackagesPermission" />

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera.any"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.nfc"
    android:required="false" />

  <application
    android:name=".Application"
    android:allowBackup="false"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_content"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppThemeM3"
    tools:ignore="GoogleAppIndexingWarning,CredentialDependency"
    tools:targetApi="34" >

    <activity
      android:name=".ui.passwords.PasswordStore"
      android:configChanges="orientation|screenSize"
      android:exported="false" />

    <activity
      android:name=".ui.onboarding.activity.OnboardingActivity"
      android:configChanges="orientation|screenSize"
      android:exported="false" />

    <activity
      android:name=".ui.proxy.ProxySelectorActivity"
      android:exported="false"
      android:label="@string/activity_proxy_label"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".ui.crypto.DecryptActivity"
      android:exported="true" />

    <activity
      android:name=".ui.main.LaunchActivity"
      android:configChanges="orientation|screenSize"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.journeyapps.barcodescanner.CaptureActivity"
      android:clearTaskOnLaunch="true"
      android:exported="false"
      android:stateNotNeeded="true"
      android:theme="@style/zxing_CaptureTheme"
      android:windowSoftInputMode="stateAlwaysHidden"
      tools:node="replace" />

    <activity
      android:name=".ui.git.config.GitServerConfigActivity"
      android:exported="false"
      android:label="@string/title_activity_git_clone"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".ui.git.config.GitConfigActivity"
      android:exported="false"
      android:label="@string/title_activity_git_config"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".ui.git.log.GitLogActivity"
      android:exported="false"
      android:label="@string/title_activity_git_log" />

    <activity
      android:name=".ui.settings.SettingsActivity"
      android:exported="false"
      android:label="@string/action_settings"
      android:parentActivityName=".ui.passwords.PasswordStore" />

    <activity
      android:name=".ui.crypto.PasswordCreationActivity"
      android:exported="false"
      android:label="@string/new_password_title"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".ui.crypto.PasskeyCreationActivity"
      android:exported="false"
      android:label="@string/new_password_title">
      <intent-filter>
          <action android:name="${applicationId}.action.CREATE_PASSKEY" />
          <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.credman.PasskeyAuthenticationActivity"
      android:exported="false"
      android:theme="@style/NoBackgroundThemeM3">
      <intent-filter>
          <action android:name="${applicationId}.action.GET_PASSKEY" />
          <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <service
      android:name=".util.services.UDCakeCredentialProviderService"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:enabled="true"
      android:exported="true"
      android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE"
      tools:targetApi="34">
      <intent-filter>
        <action android:name="android.service.credentials.CredentialProviderService" />
      </intent-filter>
      <meta-data
        android:name="android.credentials.provider"
        android:resource="@xml/udcake_credential_provider" />
    </service>

    <service
      android:name=".util.services.OreoAutofillService"
      android:exported="true"
      android:permission="android.permission.BIND_AUTOFILL_SERVICE">
      <intent-filter>
        <action android:name="android.service.autofill.AutofillService" />
      </intent-filter>
      <meta-data
        android:name="android.autofill"
        android:resource="@xml/oreo_autofill_service" />
    </service>

    <service
      android:name=".util.services.QuickSearchTileService"
      android:exported="true"
      android:icon="@drawable/ic_launcher_monochrome"
      android:label="@string/app_name"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
          <action android:name="android.service.quicksettings.action.QS_TILE"/>
      </intent-filter>
    </service>

    <activity
      android:name=".ui.folderselect.SelectFolderActivity"
      android:exported="false" />
    <activity
      android:name=".ui.sshkeygen.PgpAuthKeySelectionActivity"
      android:exported="false"
      android:theme="@style/NoBackgroundThemeM3" />
    <activity
      android:name=".ui.sshkeygen.SshKeyImportActivity"
      android:exported="false"
      android:theme="@style/NoBackgroundThemeM3"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.sshkeygen.SshKeyGenActivity"
      android:exported="false"
      android:label="@string/pref_ssh_keygen_title"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.autofill.AutofillDecryptActivity"
      android:exported="false"
      android:theme="@style/NoBackgroundThemeM3" />
    <activity
      android:name=".ui.autofill.AutofillFilterView"
      android:configChanges="orientation|keyboardHidden"
      android:exported="false"
      android:theme="@style/DialogLikeThemeM3"
      android:windowSoftInputMode="adjustNothing" />
    <activity
      android:name=".ui.autofill.AutofillSaveActivity"
      android:exported="false"
      android:theme="@style/NoBackgroundThemeM3" />
    <activity
      android:name=".ui.autofill.AutofillPublisherChangedActivity"
      android:configChanges="orientation|keyboardHidden"
      android:exported="false"
      android:theme="@style/DialogLikeThemeM3"
      android:windowSoftInputMode="adjustNothing" />
    <activity
      android:name=".ui.pgp.PGPKeyImportActivity"
      android:theme="@style/NoBackgroundThemeM3" />
    <activity
      android:name=".ui.pgp.PGPKeyListActivity"
      android:theme="@style/NoBackgroundThemeM3"
      android:exported="false"
      android:label="@string/activity_label_pgp_key_manager"
      android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout"
      android:parentActivityName=".ui.settings.SettingsActivity" />
    <activity
      android:name=".ui.pgp.PGPKeyCreationActivity"
      android:exported="false"
      android:label="@string/pgp_new_pgp_key_title"
      android:windowSoftInputMode="adjustResize" />
    <activity
      android:name=".ui.pgp.PGPKeyChangePassphraseActivity"
      android:exported="false"
      android:label="@string/pgp_change_passphrase_title"
      android:windowSoftInputMode="adjustResize" />

  </application>

</manifest>
